html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: #222831;
    color: #c9d1d9;

}
div, h1 {
    
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 1024px;
    
}

h1 {
    text-align: end;
    color: #00FFF5;
}
h2 {
    color: #00FFF5;
    font-style: italic;
}
section {
    padding: 1.5rem;
    background-color: #393E46;
    margin: 1.5rem;
    border-radius: 10px;
}
#connect ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.xps {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 2px solid #00FFF5;
    border-radius: 12px;
}
.input_field {
    display: grid;
    max-width: fit-content;
    padding-top: 0%;
    
}
#message ul {
    list-style: none;
    display: grid;
    grid-template-columns:1fr 1fr; 
    grid-template-rows: 1fr 1fr;

}
.container {
    display: flex;
}
#navbarNav {
    display: flex;
    
}
.menu_item {
    margin-right: 1rem;
    list-style: none;
}
a:link, a:visited {
    
    color: #c9d1d9;
    border: 2px solid #00FFF5;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: #222831;
    color: #00FFF5;
    
}
.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
  
.grid-item {
    
    border: 2px solid #00FFF5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    list-style: none;
}
@media (max-width: 800px) {
    .grid-container {
      display: flex;
    }
  }